[Desktop Entry]
Type=Application
Name=SaveDesktopDesign
Comment=KDE-Plasma-Design & Paketlisten sichern und wiederherstellen
Exec=savedesktopdesign
Icon=preferences-desktop-theme
Terminal=false
Categories=Utility;Settings;
